.env
.env.backup
.env.production
node_modules
vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.git
.gitignore
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
composer.lock
package-lock.json
*.log
.vscode
.idea
.fleet
/.nova
Homestead.json
Homestead.yaml
auth.json
.phpunit.cache
.phpunit.result.cache
tests/
database/factories/
database/seeders/
bootstrap/cache/*
storage/debugbar/*
